@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 78%
    left: 50%
    width: 5%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 20%
    right: 65%
    width: 5%
  &-3
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 30%
    width: 5%


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 40% !important
.banner-principal__img 
  padding-bottom: 0 !important;
.banner-principal__row .banner-principal__img 
  width: 50%;
    
.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $color-sistema-texto !important  

.boton *, .boton--sm *,
.barra-avance__boton--regresar span
  color: $white !important
.banner-interno__titulo h1, .banner-interno__titulo h2, 
.banner-interno__titulo h3, .banner-interno__titulo h4, 
.banner-interno__titulo h5, .banner-interno__titulo h6
  color: $color-sistema-texto !important  
.titulo-principal__numero span
  color: $color-sistema-texto 
figcaption 
    font-weight: normal !important

.banner-interno__titulo__icono i
    color: $color-acento-botones !important;

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 14% !important 
    h1, p
      color: $white

.banner-principal  
  @media (min-width: 768px) and (max-width: 1024px)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat 
      background-size: 100% 100%
      background-position: cover
    &__info
      padding-top: 8% !important 
    h1, p
      color: $white  
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/banner-interno.png") !important
/**************************************************************/
/***CUSTOM STYLES***/
/**************************************************************/
.p-full-width
  padding: 3rem 3.5rem!important;
.bg-full-width
  background-size: cover
  background-repeat: no-repeat
  background-position: bottom
  margin-inline: -3.3rem
.bg-fondo
  &-1
    //background-image: url(../assets/curso/bg/3.svg)
.bg-color
  &-1
    background-color: $color-primario







/**************************************************************/
/*Media Queries*/  
/**************************************************************/

//// DESKTOP SMALL 1400--------------------------------------
@media screen and (max-width: $bp-min-xxl)
  .mb-cus
    margin-bottom: 2em  !important 

//// TABLET 992--------------------------------------
@media screen and (max-width: $bp-max-md)
  .mb-cus
    margin-bottom: 2em  !important  
  .col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
    width: 90% !important

  
 
  
//// TABLET MINI 768--------------------------------------
@media screen and (max-width: $bp-min-md)
  .mb-cus
    margin-bottom: 2em  !important  

  

//// MOBILE 576--------------------------------------
@media screen and (max-width: $bp-min-sm)
  .mb-cus
    margin-bottom: 2em  !important
.fa-info 
  --fa: "\f129"
  color: black
  
.bg1
  background-color: #F0FDD8
  border-radius: 160px
  width: 100%
  height: auto
  @media (max-width: 768px)
    width: 100%
    min-height: 100%
    padding-bottom: 2rem
    border-radius: 40px
  @media (min-width: 769px) and (max-width: 1024px)
    border-radius: 80px
    padding-bottom: 2rem
    min-height: 100%
.bg2
  background-color: #38BDF8
  border-radius: 40px
.bg3
  background-color: #EAF8FF
.bg4
  background-color: #164C63
.bg5
  background-color: #F0FDD8
.bg6
  background-color: #444A52
.bg7 
  background-color: #4C5737
.bg8
  background-image: url('../assets/curso/temas/t4/fondo.png')
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px) 
    background-size: cover 
.w-card-text2
  position: relative
  width: fit-content
  padding-left: 10px
  padding-right: 10px
  left: 0px
  top: 8px

.tarjeta-blanca
  background-color: #ffff
  border-radius: 20px
.bloque-texto-g__texto1
  position: relative
  width: 60%
  background: rgba(255,255,255,.95)
  border-top-right-radius: 120px
  border-bottom-right-radius: 120px
  padding: 2rem 3rem

  @media (max-width: 768px)
    width: 100%
    border-radius: 20px
    padding: 1.5rem
    margin: 0 auto

  @media (min-width: 768px) and (max-width: 1024px)
    width: 100%
    border-radius: 40px
    padding: 2rem
    margin: 0 auto
    box-sizing: border-box

.fondo01
  background-image: url('../assets/curso/temas/t1/fondo1.png')
  background-position: bottom !important
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondo02
  background-image: url('../assets/curso/temas/t1/fondo2.png')
  background-position: right !important
  background-size: 60% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.fondo03
  background-image: url('../assets/curso/temas/t1/fondo3.png')
  background-position: right !important
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.fondosly
  background-image: url('../assets/curso/temas/t3/fondosly.png')
  background-position: bottom !important
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.fondosly2
  background-image: url('../assets/curso/temas/t3/fondosly2.png')
  background-position: bottom !important
  background-size: 100% 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
  @media screen and (max-width: 767px)
    background-size: cover 
.cajon.color-secundario 
  background-color: #F6F8FA
.w-card-icon
  width: min-content
  z-index: 1
.w-card-text
  position: relative
  padding-left: 50px
  padding-right: 50px
  left: -30px
  top: 8px

.izq
  text-align: left !important

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
  background-color: #D9F99D

.titulo-segundo:after 
  border-left-color: #D9F99D
  background-color: #F0FDD8
.cajon.color-acento-contenido 
  background-color: #FBFFF5
.linea-tiempo-c__header__btn--right
  background-color: #132A60
.linea-tiempo-c__header__btn--left
  background-color: #132A60
.fa-angle-right 
  --fa: "\f105"
  color: #ffff
.fa-angle-left 
  --fa: "\f104"
  color: #ffff

.acordion__accion__btn--a 
  background-color: #132A60 !important
.acordion .tarjeta--azul
  background-color: #AFE5FC !important
.acordion .tarjeta.tarjeta--azul.acordion__activo
  background-color: #DDE3EB !important
.fa-add, .fa-plus 
  --fa: "\+"
  color: #ffff
.fa-minus, .fa-subtract 
  --fa: "\f068"
  color: #ffff